# macOS
.DS_Store

# VS Code
.vscode/
.history/

# Jupyter
**/.ipynb_checkpoints/

# Python
.venv/
__pychache__/
*.pyc

# Julia
# Keep Project.toml & Manifest.toml (for reproducibility)
.julia/		# never commit home Julia dir
*.jl.cov
*.jl.mem

# Data (project-level)
julia/data/
python/data/
